/* default style, root etc */
a {
  text-decoration: none;
}

body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

/* HEADER */
header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  width: 500px;
  justify-content: space-between;
  display: flex;
  list-style: none;
}
.hamburat {
  display: none !important;
  cursor: pointer;
}

/* MAIN */
main {
  height: 80vh;
}

.home {
}
.about {
  background-color: rgb(211, 26, 26);
}
.contact {
  background-color: blueviolet;
}
.experience {
  background-color: rgb(43, 226, 98);
}
.tools {
  background-color: rgb(226, 43, 89);
}
.project {
  background-color: rgb(223, 226, 43);
}
.education {
  background-color: rgb(46, 43, 226);
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 9.2vh;
  bottom: 0;
}
footer p {
  margin: 0;
  text-align: center;
  color: white;
}

/* responsive CELLPHONE */
@media (max-width: 999px) {
  /* Hide the navigation list in header */
  header ul {
    display: none;
  }

  /* Hamburger menu icon */
  .hamburat {
    display: block !important;
  }

  /* Menu styles */
  .menu,
  .menuup {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 20px;
    transition: transform 0.5s ease;
  }

  /* Initial position of the menu */
  .menuup {
    transform: translateY(-100%);
  }

  /* Menu list styles */
  .menu ul,
  .menuup ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0 50px;
  }

  /* Menu list item styles */
  .menu ul li,
  .menuup ul li {
    margin-bottom: 10px;
  }
}

/* responsive DESKTOP */
@media (min-width: 1000px) {
  .menu,
  .menuup {
    display: none;
  }
}
