/* default style, root etc */
a {
  text-decoration: none;
  color: black;
}
a,button,img{
      cursor: pointer;
}
*{
      overflow-x: hidden;
      list-style-type: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: monospace;
      overflow-x: hidden;

}


/* HEADER */
header {
  background-color: #AB3428;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  width: 500px;
  justify-content: space-around;
  display: flex;
  list-style: none;
}


.hamburat {
  display: none !important;
  cursor: pointer;
}

/* MAIN */
main {
      padding: 20px 50px;

}

.home {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
     background: url('/public/bg.png') no-repeat;
     background-size: cover;
     background-position: center;
}
.home p{
      margin: 0 50px;   
      text-align: center;
}

.about {
  background-color: #F49E4C;
}
.about h2{
      text-align: center;
}
.about .grid{
      display: grid;
      margin: 50px 0;
      grid-template-columns: 50% 50%;
}
.about .grid img{
      width: 40vw;
      height: auto;
}
.about .grid p{
      font-size: larger;
      line-height: 2;
}
.about .grid button{
      margin: 50px 0;
      padding: 20px;
      font-size: large;
      background-color: #AB3428;
      color: white;
      border: none;
      border-radius: 10px;
}
.contact {
  background-color: blueviolet;
}
.experience {
  background-color: rgb(43, 226, 98);
}
.tools {
  background-color: rgb(226, 43, 89);
}
.project {
  background-color: rgb(223, 226, 43);
}
.education {
  background-color: rgb(46, 43, 226);
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5EE9E;
  
}
footer p {
  margin: 0;
  text-align: center;
  color: black;
}

/* responsive CELLPHONE */
@media (max-width: 999px) {
  /* Hide the navigation list in header */
  header ul {
    display: none;
  }

  /* Hamburger menu icon */
  .hamburat {
    display: block !important;
  }

  /* Menu styles */
  .menu,
  .menuup {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 20px;
    transition: transform 0.5s ease;
    z-index: 100;
  }

  /* Initial position of the menu */
  .menuup {
    transform: translateY(-100%);
  }

  /* Menu list styles */
  .menu ul,
  .menuup ul {
    margin-top: 0;
    list-style-type: none;
    padding: 0 50px;
  }

  /* Menu list item styles */
  .menu ul li,
  .menuup ul li {
    margin-bottom: 10px;
  }
 
}

/* responsive DESKTOP */
@media (min-width: 1000px) {
  .menu,
  .menuup {
    display: none;
  }
}
